<!--<div class="wrapper">
    <section class="content">
        <h2><i class="ico projects"></i>Projects</h2>
        <div class="grey-box-wrap reports">
            <a href="#new-member" class="link new-member-popup">Create new project</a>
            <div class="search-page">
                <input type="search" name="search-clients" class="in-search" />
            </div>
        </div>
        <div class="new-member-wrap">
            <div id="new-member" class="new-member-inner">
                <h2>Create new project</h2>
                <ul class="form">
                    <li>
                        <label>Project name:</label>
                        <input type="text" class="in-text" />
                    </li>								
                    <li>
                        <label>Description:</label>
                        <input type="text" class="in-text" />
                    </li>
                    <li>
                        <label>Customer:</label>
                        <select>
                            <option *ngFor = "let client of clients">{{ client.clientname }}</option>
                        </select>
                    </li>
                    <li>
                        <label>Lead:</label>
                        <select>
                            <option *ngFor = "let teamMember of teamMembers">{{ teamMember.teammembername}}</option>
                            <option>Sasa Popovic</option>
                            <option>Sladjana Miljanovic</option>
                        </select>
                    </li>
                </ul>
                <div class="buttons">
                    <div class="inner">
                        <a href="javascript:;" class="btn green" (click) = "addProject()">Save</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="alpha">
            <ul>
                <li>
                    <a href="javascript:;">a</a>
                </li>
                <li>
                    <a href="javascript:;">b</a>
                </li>
                <li>
                    <a href="javascript:;">c</a>
                </li>
                <li>
                    <a href="javascript:;">d</a>
                </li>
                <li>
                    <a href="javascript:;">e</a>
                </li>
                <li class="active">
                    <a href="javascript:;">f</a>
                </li>
                <li>
                    <a href="javascript:;">g</a>
                </li>
                <li>
                    <a href="javascript:;">h</a>
                </li>
                <li>
                    <a href="javascript:;">i</a>
                </li>
                <li>
                    <a href="javascript:;">j</a>
                </li>
                <li>
                    <a href="javascript:;">k</a>
                </li>
                <li>
                    <a href="javascript:;">l</a>
                </li>
                <li class="disabled">
                    <a href="javascript:;">m</a>
                </li>
                <li>
                    <a href="javascript:;">n</a>
                </li>
                <li>
                    <a href="javascript:;">o</a>
                </li>
                <li>
                    <a href="javascript:;">p</a>
                </li>
                <li>
                    <a href="javascript:;">q</a>
                </li>
                <li>
                    <a href="javascript:;">r</a>
                </li>
                <li>
                    <a href="javascript:;">s</a>
                </li>
                <li>
                    <a href="javascript:;">t</a>
                </li>
                <li>
                    <a href="javascript:;">u</a>
                </li>
                <li>
                    <a href="javascript:;">v</a>
                </li>
                <li>
                    <a href="javascript:;">w</a>
                </li>
                <li>
                    <a href="javascript:;">x</a>
                </li>
                <li>
                    <a href="javascript:;">y</a>
                </li>
                <li class="last">
                    <a href="javascript:;">z</a>
                </li>					
            </ul>
        </div>
        <div class="accordion-wrap projects">
            <div class="item">
                <div class="heading" *ngFor = "let project of projects">
                    <span>{{ project.projectname }}</span>
                    <i>+</i>
                </div>
                <div class="details">
                    <ul class="form">
                        <li>
                            <label>Project name:</label>
                            <input type="text" class="in-text" />
                        </li>
                        <li>
                            <label>Lead:</label>
                            <select>
                                <option *ngFor = "let teamMember of teamMembers"> {{ teamMember.teammembername}}</option>
                            </select>
                        </li>
                    </ul>
                    <ul class="form">
                        <li>
                            <label>Description:</label>
                            <input type="text" class="in-text" />
                        </li>
                        
                    </ul>
                    <ul class="form last">
                        <li>
                            <label>Customer:</label>
                            <select>
                                <option *ngFor = "let client of clients">{{ client.clientname }}</option>
                            </select>
                        </li>
                        <li class="inline">
                        <label>Status:</label>
                        <span class="radio">
                            <label for="inactive">Active:</label>
                            <input type="radio" value="1" name="status" id="inactive" />
                        </span>
                        <span class="radio">
                            <label for="active">Inactive:</label>
                            <input type="radio" value="2" name="status" id="active" />
                        </span>
                        <span class="radio">
                            <label for="active">Archive:</label>
                            <input type="radio" value="3" name="status" id="active" />
                        </span>
                    </li>
                    </ul>
                    <div class="buttons">
                        <div class="inner">
                            <a href="javascript:;" class="btn green" (click) = "updateProject()">Save</a>
                            <a href="javascript:;" class="btn red" (click) = "deleteProject()">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="heading">
                    <span>PWN</span> <span><em>(Clockwork)</em></span>
                    <i>+</i>
                </div>
                <div class="details">
                    <ul class="form">
                        <li>
                            <label>Client name:</label>
                            <input type="text" class="in-text" />
                        </li>								
                        <li>
                            <label>Zip/Postal code:</label>
                            <input type="text" class="in-text" />
                        </li>
                    </ul>
                    <ul class="form">
                        <li>
                            <label>Address:</label>
                            <input type="text" class="in-text" />
                        </li>
                        <li>
                            <label>Country:</label>
                            <select>
                                <option>Select country</option>
                            </select>
                        </li>								
                    </ul>
                    <ul class="form last">
                        <li>
                            <label>City:</label>
                            <input type="text" class="in-text" />
                        </li>
                    </ul>
                    <div class="buttons">
                        <div class="inner">
                            <a href="javascript:;" class="btn green">Save</a href="javascript:;">
                            <a href="javascript:;" class="btn red">Delete</a href="javascript:;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="heading">
                    <span>B&G</span> <span><em>(Cubeworks)</em></span>
                    <i>+</i>
                </div>
                <div class="details">
                    <ul class="form">
                        <li>
                            <label>Client name:</label>
                            <input type="text" class="in-text" />
                        </li>								
                        <li>
                            <label>Zip/Postal code:</label>
                            <input type="text" class="in-text" />
                        </li>
                    </ul>
                    <ul class="form">
                        <li>
                            <label>Address:</label>
                            <input type="text" class="in-text" />
                        </li>
                        <li>
                            <label>Country:</label>
                            <select>
                                <option>Select country</option>
                            </select>
                        </li>								
                    </ul>
                    <ul class="form last">
                        <li>
                            <label>City:</label>
                            <input type="text" class="in-text" />
                        </li>
                    </ul>
                    <div class="buttons">
                        <div class="inner">
                            <a href="javascript:;" class="btn green">Save</a>
                            <a href="javascript:;" class="btn red">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination">
            <ul>
                <li>
                    <a href="javascript:;">1</a>
                </li>
                <li>
                    <a href="javascript:;">2</a>
                </li>
                <li>
                    <a href="javascript:;">3</a>
                </li>
                <li class="last">
                    <a href="javascript:;">Next</a>
                </li>
            </ul>
        </div>
    </section>			
</div>-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">window.jQuery || document.write("<script src='../../../assets/scripts/main/jquery-1.8.3.min.js'>\x3C/script>")</script>
<script type="text/javascript" src="../../../assets/scripts/main/default.js"></script>	