<div class="container">
	<div class="wrapper">
		<section class="content">
			<h2><i class="ico categories"></i>Categories</h2>
		</section>
	</div>
	<footer class="footer">
		<div class="wrapper">
			<ul>
				<li>
					<span>Copyright. VegaITSourcing All rights reserved</span>
				</li>
			</ul>
			<ul class="right">
				<li>
					<a href="javascript:;">Terms of service</a>
				</li>
				<li>
					<a href="javascript:;" class="last">Privacy policy</a>
				</li>
			</ul>
		</div>
	</footer>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">window.jQuery || document.write("<script src='../../../assets/scripts/main/jquery-1.8.3.min.js'>\x3C/script>")</script>
<script type="text/javascript" src="../../../assets/scripts/main/default.js"></script>	