<div class="container">
	<div class="wrapper">
		<section class="content">
			<h2><i class="ico team-member"></i>Team members</h2>
			<div class="grey-box-wrap reports ico-member">
				<a href="#new-member" class="link new-member-popup test">
					<span>Create new member</span>
				</a>
			</div>
			<div class="new-member-wrap">
				<div id="new-member" class="new-member-inner">
					<h2>Create new team member</h2>
					<ul class="form">
						<li>
							<label>Name:</label>
							<input type="text" class="in-text" />
						</li>								
						<li>
							<label>Hours per week:</label>
							<input type="text" class="in-text" />
						</li>
						<li>
							<label>Username:</label>
							<input type="text" class="in-text" />
						</li>
						<li>
							<label>Email:</label>
							<input type="text" class="in-text" />
						</li>
						<li class="inline">
							<label>Status:</label>
							<span class="radio">
								<label for="inactive">Inactive:</label>
								<input type="radio" value="1" name="status" id="inactive" />
							</span>
							<span class="radio">
								<label for="active">Active:</label>
								<input type="radio" value="2" name="status" id="active" />
							</span>
						</li>
						<li class="inline">
							<label>Role:</label>
							<span class="radio">
								<label for="admin">Admin:</label>
								<input type="radio" value="1" name="status" id="admin" />
							</span>
							<span class="radio">
								<label for="worker">Worker:</label>
								<input type="radio" value="2" name="status" id="worker" />
							</span>
						</li>
					</ul>
					<div class="buttons">
						<div class="inner">
							<a href="javascript:;" class="btn green">Invite team member</a>
						</div>
					</div>
				</div>
			</div>
			<div class="accordion-wrap">
				<div class="item">
					<div class="heading" *ngFor="let teamMember of teamMembers">
						<span>{{teamMember.teammembername}}</span>
						<i>+</i>
					</div>
					<div class="details">
						<ul class="form">
							<li>
								<label>Name:</label>
								<input type="text" class="in-text" />
							</li>								
							<li>
								<label>Hours per week:</label>
								<input type="text" class="in-text" />
							</li>
						</ul>
						<ul class="form">
							<li>
								<label>Username:</label>
								<input type="text" class="in-text" />
							</li>
							<li>
								<label>Email:</label>
								<input type="text" class="in-text" />
							</li>								
						</ul>
						<ul class="form last">
							<li>
								<label>Status:</label>
								<span class="radio">
									<label for="inactive">Inactive:</label>
									<input type="radio" value="1" name="status" id="inactive" />
								</span>
								<span class="radio">
									<label for="active">Active:</label>
									<input type="radio" value="2" name="status" id="active" />
								</span>
							</li>
							<li>
								<label>Role:</label>
								<span class="radio">
									<label for="admin">Admin:</label>
									<input type="radio" value="1" name="status" id="admin" />
								</span>
								<span class="radio">
									<label for="worker">Worker:</label>
									<input type="radio" value="2" name="status" id="worker" />
								</span>
							</li>
						</ul>
						<div class="buttons">
							<div class="inner">
								<a href="javascript:;" class="btn green" (click) = 'updateTeamMember()' >Save</a>
								<a href="javascript:;" class="btn red" (click) = 'deleteTeamMember()'>Delete</a>
								<a href="javascript:;" class="btn orange">Reset Password</a>
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="heading">
						<span>Sladjana Miljanovic</span>
						<i>+</i>
					</div>
					<div class="details">
						<ul class="form">
							<li>
								<label>Name:</label>
								<input type="text" class="in-text" />
							</li>								
							<li>
								<label>Hours per week:</label>
								<input type="text" class="in-text" />
							</li>
						</ul>
						<ul class="form">
							<li>
								<label>Username:</label>
								<input type="text" class="in-text" />
							</li>
							<li>
								<label>Email:</label>
								<input type="text" class="in-text" />
							</li>								
						</ul>
						<ul class="form last">
							<li>
								<label>Status:</label>
								<span class="radio">
									<label for="inactive">Inactive:</label>
									<input type="radio" value="1" name="status" id="inactive" />
								</span>
								<span class="radio">
									<label for="active">Active:</label>
									<input type="radio" value="2" name="status" id="active" />
								</span>
							</li>
							<li>
								<label>Role:</label>
								<span class="radio">
									<label for="admin">Admin:</label>
									<input type="radio" value="1" name="status" id="admin" />
								</span>
								<span class="radio">
									<label for="worker">Worker:</label>
									<input type="radio" value="2" name="status" id="worker" />
								</span>
							</li>
						</ul>
						<div class="buttons">
							<div class="inner">
								<a href="javascript:;" class="btn orange">Save</a>
								<a href="javascript:;" class="btn orange">Delete</a>
								<a href="javascript:;" class="btn orange">Reset Password</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="pagination">
				<ul>
					<li>
						<a href="javascript:;">1</a>
					</li>
					<li>
						<a href="javascript:;">2</a>
					</li>
					<li>
						<a href="javascript:;">3</a>
					</li>
					<li class="last">
						<a href="javascript:;">Next</a>
					</li>
				</ul>
			</div>
		</section>			
	</div>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">window.jQuery || document.write("<script src='../../../assets/scripts/main/jquery-1.8.3.min.js'>\x3C/script>")</script>
<script type="text/javascript" src="../../../assets/scripts/main/default.js"></script>	